<template>
  <transition name="fade" appear>
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          <div class="column is-one-quarter" v-for="result in results" :key="result.objectID">
              <re-card :type="'snippetFavorites'" :main-data="result"></re-card>
          </div>
        </div>
      </div>
    </section>
  </transition>
</template>
<script>
import ReCard from '@/components/ReCard'
import algoliasearch from 'algoliasearch/lite'
var client = algoliasearch(process.env.VUE_APP_ALGOLIA_APP_ID, process.env.VUE_APP_ALGOLIA_SEARCH)
var index = client.initIndex(process.env.VUE_APP_ALGOLIA_INDEX_SNIPPETS)
export default {
  name: 'favorites-snippets',
  data() {
    return {
      results: {},
      favorites: {
        snippetFavorites: []
      }
    };
  },
  components: {
    ReCard
  },
    persist: ['favorites'],
  created() {
    this.getFavorites()
  },
  methods: {
    getFavorites() {
      var self = this
    index.getObjects(this.favorites.snippetFavorites, function(err, content) {
    if (err) throw err;
    self.results = content.results.reverse()
    console.log(content.results)
    })
    }
  }
}
</script>