<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="manifest" href="./manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Rexolt" />
    <meta name="apple-mobile-web-app-title" content="Rexolt" />
    <meta name="theme-color" content="#000" />
    <meta name="msapplication-navbutton-color" content="#000" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="google-site-verification"
      content="6ScuWkWc5qNEsHcgGeBHA0-4l9-b0DLnO5Zvr3BQJbc"
    />
    <script
      src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"
      async=""
    ></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "b913e14f-b43e-44af-958f-d28aba9a9b30"
        });
      });
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Rexolt - Leaked Songs</title>
  </head>

  <body>
    <noscript>
      <strong>Rexolt does not work with javascript disabled.</strong>
    </noscript>
    <div id="app"></div>
    <script>
      // Check that service workers are registered
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("./service-worker.js");
        });
      }
      // Detects if device is on iOS
      const isIos = () => {
        const userAgent = window.navigator.userAgent.toLowerCase();
        return /iphone|ipad|ipod/.test(userAgent);
      };
      // Detects if device is in standalone mode
      const isInStandaloneMode = () =>
        "standalone" in window.navigator && window.navigator.standalone;

      // Checks if should display install popup notification:
      if (isIos() && !isInStandaloneMode()) {
        this.setState({ showInstallMessage: true });
      }
    </script>
  </body>
</html>
