<template>
  <div class="container">
    <div class="content">
    <h1 class="has-text-weight-bold has-text-centered">BLOG</h1>
    <template v-for="block in data" >
      <h2 v-html="block.headline"> </h2>
      <p v-html="block.content"></p>
    </template>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Faq',
  data() {
    return {
      data: [
        {
          headline: '10-22-18 8PM EST - Roadmap',
          content: 'Hi! I have a small update for everyone using the site. This is pretty much just a list of things that need to be done in order for me to be happy. They have no timeframe or order, and will be changed as time changes. Thank you.<br><b>Updated: 10-21-18</b><br><ol><li><b>[ADMIN/CMS]</b> - Make changes to api and how its used. Maybe switch to firebase(?)</li><li><b>[ADMIN/CMS]</b> - Add auto mirror upload</li><li>Make Open Source</li><li>Fix Favorites and how they are handled</li><li>Add mirror list to cards</li><li>Add credits to leakers/links in cards</li><li>Add theme switcher</li><li>Add song collection page</li><li>Add accounts but make it really easy to signup/login</li>'
        },
      ]
    }
  }
}
</script>
<style scoped>
.content {
  padding: 1rem;
}
</style>