<template>
  <div class="container">
    <div class="content">
      <h1 class="has-text-weight-bold has-text-centered">F.A.Q</h1>
      <template v-for="block in data">
        <h2>{{ block.headline }}</h2>
        <p v-html="block.content"></p>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: "Faq",
  data() {
    return {
      data: [
        {
          headline: "What is this website?",
          content: "This website is a place to find leaked songs and song snippets."
        },
        {
          headline: "Why are some song titles different colors?",
          content:
            'The <b>green</b> title means that a song has been officially released. The leaked version will be played when you click "play audio". <b>Orange</b> title means that the song is "hot", and usually means it is a highly anticipated leak.'
        },
        {
          headline: "What are the pink stars?",
          content: "The stars represent audio quality. From 1-4"
        },
        //{
        //  headline: "How do I send feedback?",
        //  content: "To send feedback, please send @GetExposedYT a DM on Twitter."
        //},
        {
          headline: "How do I report a dead song link or incorrect details?",
          content:
            "To report a dead song link or wrong details, click the 3 small dots on the song card, and click report. You then have the option to report the song."
        },
        {
          headline: "How are favorites stored?",
          content:
            "Favorites are stored in your browsers Local Storage, and will not be removed on browser/device restart. They are semi-persistent."
        }
      ]
    };
  }
};
</script>
<style scoped>
.content {
  padding: 1rem;
}
</style>
