<template>
  <transition name="fade" appear>
    <section class="section">
      <b-tabs position="is-centered">
            <b-tab-item label="Songs"><favorites-songs /></b-tab-item>
            <b-tab-item label="Snippets"><favorites-snippets /></b-tab-item>
        </b-tabs>
    </section>
  </transition>
</template>
<script>
import FavoritesSongs from '@/components/favorites/Songs'
const FavoritesSnippets = () => import('@/components/favorites/Snippets')
export default {
  name: 'favorites',
  components: {
    FavoritesSongs,
    FavoritesSnippets
  }
}
</script>