<template>
  <div class="home">
    <b-tabs position="is-centered" class="block">
      <b-tab-item @click="window.location.hash = 'songs';" label="Songs">
        <songs-tab></songs-tab>
      </b-tab-item>
      <b-tab-item @click="window.location.hash = 'snippets';" label="Snippets">
        <snippets-tab></snippets-tab>
      </b-tab-item>
      <b-tab-item @click="window.location.hash = 'fresh';" label="Fresh">
        <fresh-tab></fresh-tab>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import SongsTab from '@/components/tabs/SongsTab'
const SnippetsTab = () => import('@/components/tabs/SnippetsTab')
const FreshTab = () => import('@/components/tabs/FreshTab')
export default {
  name: 'home',
  components: {
    SongsTab,
    SnippetsTab,
    FreshTab
  }
}
</script>
<style scoped>
.b-tabs .tab-content {
  padding: 0rem;
}
</style>