<template>
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half-desktop is-narrow">
        <re-card :type="contentType" :main-data="result"></re-card>
        <nav class="level">
          <div class="level-item has-text-centered">
            <button v-clipboard:copy="$weburl + $route.path" v-clipboard:success="onCopy" class="button is-dark">Copy Link</button>
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
import ReCard from '@/components/ReCard'
import algoliasearch from 'algoliasearch/lite'
export default {
    data() {
    return {
     result: {},
     contentType: ''
    };
  },
    components: {
        ReCard
    },
    created() {
        this.getEntry()
    },
    methods: {
        getEntry: function () {
          var client = algoliasearch(process.env.VUE_APP_ALGOLIA_APP_ID, process.env.VUE_APP_ALGOLIA_SEARCH);
          var index = client.initIndex(process.env.VUE_APP_ALGOLIA_INDEX);
          var self = this
            index.getObject(this.$route.params.id, function(err, content) {
              if (err) {
                var client = algoliasearch(process.env.VUE_APP_ALGOLIA_APP_ID, process.env.VUE_APP_ALGOLIA_SEARCH);
                var index2 = client.initIndex(process.env.VUE_APP_ALGOLIA_INDEX_SNIPPETS);
                index2.getObject(self.$route.params.id, function(err, content) {
                  document.title = content.title + ' - ' + content.artist + ' - Rexolt'
                  self.contentType = 'snippetFavorites'
                return self.result = content
              })
              }
              self.contentType = 'songFavorites'
              document.title = content.title + ' - ' + content.artist + ' - Rexolt'
            self.result = content
            if (process.env.NODE_ENV === 'development') return console.log('fetched:', content)
          });
        },
        onCopy: function (e) {
          this.$toast.open({
            duration: 2500,
            message: `Copied Link!`,
            position: 'is-bottom',
            type: 'is-success'
          })
        },
    }
}
</script>
<style scoped>
.level-item {
  padding-top: 8px;
}
</style>