<template>
  <div class="container">
    <div class="content">
      <h1 class="has-text-weight-bold has-text-centered">Legal</h1>
      <template v-for="block in data">
        <h2>{{ block.headline }}</h2>
        <p v-html="block.content"></p>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: "Faq",
  data() {
    return {
      data: [
        {
          headline: "Legal",
          content:
            "Rexolt.site does not host any content. Content is pulled from different sources automatically. When viewing content, the user will be redirected to a 3rd party website. <b>Rexolt.site is pretty much a search engine.</b>"
        }
      ]
    };
  }
};
</script>
<style scoped>
.content {
  padding: 1rem;
}
</style>
