<template>
  <transition name="fade" appear>
    <div class="container">
      <div class="columns is-mobile">
        <div class="column is-half-desktop is-offset-one-quarter-desktop">
          <form name="report" method="POST">
            <input type="hidden" name="form-name" value="report" />
            <div class="field">
              <label class="label">Title</label>
              <div class="control">
                <input v-model="result.title" name="title" class="input" type="text" disabled>
              </div>
            </div>
            <div class="field">
              <label class="label">Id</label>
              <div class="control">
                <input v-model="result.objectID" name="id" class="input" type="text" disabled>
              </div>
            </div>
            <br>
            <div class="field">
              <label class="label">Report Reason</label>
              <div class="control">
                <input v-model="result.reason" name="reason" type="text" placeholder="Type, or use dropdown" list="reason" />
                <datalist id="reason">
                  <option value="deadart">Dead Art</option>
                  <option value="deadsong">Dead Song Link</option>
                  <option value="wrongdetails">Wrong Details</option>
                  <option value="released">Song Released</option>
                </datalist>
              </div>
            </div>
            <div class="field">
              <label class="label">Your Email (For Response)</label>
              <div class="control">
                <input v-model="result.email" name="email" class="input" type="text"
                >
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button type="submit" @click.prevent="handleSubmit" class="button highlight">&nbsp;Submit&nbsp;</button>
              </div>
              <div class="control">
                <router-link to="/#songs">
                  <button class="button is-text">Cancel</button>
                </router-link>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import algoliasearch from 'algoliasearch/lite'
export default {
    data() {
    return {
     result: {
       reason: '',
       email: ''
     }
    }
  },
    created() {
        this.getEntry()
    },
    methods: {
        getEntry() {
          var self = this
          var client = algoliasearch(process.env.VUE_APP_ALGOLIA_APP_ID, process.env.VUE_APP_ALGOLIA_SEARCH)
          var index = client.initIndex(process.env.VUE_APP_ALGOLIA_INDEX)
            index.getObject(this.$route.params.id, function(err, content) {
              if (err) {
                var client = algoliasearch(process.env.VUE_APP_ALGOLIA_APP_ID, process.env.VUE_APP_ALGOLIA_SEARCH)
                var index2 = client.initIndex(process.env.VUE_APP_ALGOLIA_INDEX_SNIPPETS)
                index2.getObject(self.$route.params.id, function(err, content) {
                return self.result = content
              })
              }
            self.result = content
            if (process.env.NODE_ENV === 'development') return console.log('fetched:', content)
          })
        },
        encode(data) {
          return Object.keys(data)
          .map(
          key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
          )
          .join('&')
    },
    handleSubmit() {
      if (!this.result.reason) {
        return this.$toast.open({
            duration: 2500,
            message: `Please enter a reason`,
            position: 'is-bottom',
            type: 'is-danger'
          })
      }
      fetch('/', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: this.encode({ 'form-name': 'report', ...this.result }),
      })
        .then(() => {
          this.$toast.open({
            duration: 2500,
            message: `Success`,
            position: 'is-bottom',
            type: 'is-success'
          })
        })
        .catch(error => {
          this.$toast.open({
            duration: 2500,
            message: `Success`,
            position: 'is-bottom',
            type: 'is-success'
          })
        })
    }
    },
    mounted() {
      document.title = 'Report - Rexolt'
  }
}
</script>
<style>
.input {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #7a7a7a;
}
</style>