<template>
    <div class="columns is-mobile is-centered">
        <router-link to="/cms/song">
        <div class="column">
            <button class="button">Songs</button>
        </div>
        </router-link>
        <router-link to="/cms/snippet">
        <div class="column">
            <button class="button">Snippets</button>
        </div>
        </router-link>
</div>

</template>