<template>
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <nav class="level">
          <p class="level-item has-text-centered logo is-size-1">
            <!-- <Adsense data-ad-client="ca-pub-5248531935105977" data-ad-slot="1234567890"> </Adsense> -->
            <a href="/">
              <img alt="rexolt logo" src="@/assets/logo.png" />
            </a>
          </p>
        </nav>
        <nav class="level">
          <p class="level-item has-text-centered">
            <b-notification :closable="false">
              <b>ALL</b> dbr.ee links are currently broken! Expected uptime is unknown.
            </b-notification>
          </p>
        </nav>
        <!-- <nav class="level">
          <p class="level-item has-text-centered logo is-size-6">
            <a class="brand-red" href="https://twitter.com/GetExposedYT">@GetExposedYT</a>&nbsp;For
            Info & Updates
          </p>
        </nav>
        -->
        <nav class="level">
          <p class="level-item has-text-centered logo is-size-1">
            <router-link to="/legal" class="has-text-grey is-size-7 legal">(legal)</router-link>
          </p>
        </nav>
        <div class="tabs is-centered">
          <ul>
            <!-- li>
              <router-link exact to="/blog">BLOG</router-link>
            </li>
            -->
            <li>
              <router-link exact to="/faq">FAQ</router-link>
            </li>
          </ul>
        </div>
        <div class="tabs is-centered">
          <ul>
            <li>
              <router-link exact to="/">SONGS</router-link>
            </li>
            <!-- <li>
              <router-link exact to="/snippets">SNIPPETS</router-link>
            </li>
            -->
          </ul>
        </div>
        <div class="tabs is-centered">
          <ul>
            <li>
              <a
                target="_blank"
                href="https://www.youtube.com/channel/UCJffAKhJNlNQZ95d2Um4IkA/videos"
                >YOUTUBE</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "NavBar"
};
</script>
<style scoped>
a:hover {
  color: black;
}
a {
  color: black;
}
a.is-active {
  color: white;
  background-color: black;
}
.hero-body {
  padding: 0px;
}
.level:not(:last-child) {
  margin-bottom: 0rem;
}
.tabs {
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
  background-color: white;
}
.level img {
  height: 80px;
  margin: 1.3rem;
}
.column {
  padding: 0rem;
}
a.brand-red {
  color: #e91e63;
}
.legal {
  margin-top: 0.2rem;
}
</style>
