<template>
    <transition name="fade">
        <div>
            <div class="card">
                <div v-if="mainData.art && mainData.link" class="card-image">
                    <figure class="image is-4by3">
                        <a rel="noopener" target="_blank" :href="mainData.link">
                            <v-lazy-image :src="getImage" />
                        </a>
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-size-4-5 has-text-centered">
                                <span v-if="mainData.artist">{{ mainData.artist }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <footer class="card-footer">
                    <a v-if="mainData.artist" :href="mainData.link" rel="noopener" target="_blank " class="play card-footer-item">
                        <strong>open tracker</strong>
                    </a>
                </footer>
            </div>
        </div>
    </transition>
</template>

<script>
import VLazyImage from "v-lazy-image";
export default {
    name: 're-card-stripped',
    components: {
        VLazyImage
    },
    props: {
        mainData: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            image: '',
            isComponentModalActive: false
        }
    },
    computed: {
        getImage() {
            var url = this.mainData.art
            return (`https://res.cloudinary.com/rexolt/image/fetch/c_fit,f_auto,h_245,q_auto:good,w_327/${url}`)
        }
    }
}
</script>
<style scoped>
.level:not(:last-child) {
  margin-bottom: 0rem;
}
.media-content {
  overflow: hidden;
}
.card-content {
  padding: 1rem;
  line-height: 27px;
}
.button.is-white:hover {
  background-color: #eb3573;
  border-color: transparent;
  color: white;
}
.card-footer {
  border-top: 0px solid #dbdbdb;
}
.card-footer-item {
  padding: 0rem;
}
.card-footer-item:not(:last-child) {
  border-right: 0px solid #dbdbdb;
}
.date {
  padding: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.play {
  color: black;
  background-color: #36e91e;
}
.play:hover {
  color: white;
}
.released {
  color: #36e91e !important;
}
.title:not(.is-spaced) + .subtitle {
  margin-top: 0rem;
}
.title:not(:last-child),
.subtitle:not(:last-child) {
  margin-bottom: 0rem;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.vue-star-rating {
  padding-top: 2px;
  margin-left: -2px;
}
.card {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.play {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
p {
    padding: 0.5rem;
}
</style>