<template>
  <transition name="fade">
    <div>
      <div class="card ">
        <div v-if="mainData.art && mainData.hot" class="card-image">
          <figure class="image is-4by3">
            <a rel="noopener noreferrer" target="_blank" :href="mainData.music">
              <v-lazy-image :src="getImage" />
            </a>
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-size-4-5" :class="[getClassData]">
                <b-tooltip
                  v-if="mainData.released"
                  :label="'Song is released. Unreleased will play'"
                  type="is-dark"
                  position="is-bottom"
                  animated
                >
                  <span v-if="mainData.title">{{ mainData.title }}</span>
                </b-tooltip>
                <span v-else>{{ mainData.title }}</span>
                <span
                  v-if="mainData.secondTitle"
                  :class="[getClassData]"
                  class="subtitle is-7 has-text-grey"
                  >&nbsp;({{ mainData.secondTitle }})
                </span>
                <b-tooltip
                  v-if="mainData.tag"
                  :label="'Tagged by ' + mainData.tag"
                  type="is-dark"
                  position="is-bottom"
                  animated
                >
                  <span class="subtitle is-7 brand-red">&nbsp;- {{ mainData.tag }}</span>
                </b-tooltip>
                <b-tooltip
                  v-if="mainData.producer"
                  :label="'Produced by ' + mainData.producer"
                  type="is-dark"
                  position="is-bottom"
                  animated
                >
                  <span class="subtitle is-7 brand-red">&nbsp;- {{ mainData.producer }}</span>
                </b-tooltip>
              </p>
              <p class="subtitle artist has-text-grey-dark">{{ mainData.artist }}</p>
              <p v-if="!mainData.quality" class="subtitle artist has-text-grey-dark">
                Quality Not Available
              </p>
              <star-rating
                v-else
                :rounded-corners="true"
                :active-color="'#eb3573'"
                :star-size="19"
                :show-rating="false"
                :read-only="true"
                :max-rating="4"
                :rating="parseInt(mainData.quality)"
              ></star-rating>
            </div>
          </div>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <div class="level-item">
              <b-tooltip
                v-if="mainData.old && mainData.old == true"
                :label="'Leaked a while ago. Just posted.'"
                type="is-dark"
                position="is-bottom"
                animated
              >
                <p class="date has-text-link has-text-weight-semibold">
                  {{ getDate }}
                </p>
              </b-tooltip>
              <p v-else class="date has-text-grey has-text-weight-semibold">
                {{ getDate }}
              </p>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item">
              <b-dropdown :position="'is-top-left'">
                <a slot="trigger" class="card-header-icon" aria-label="link">
                  <span
                    :class="{ 'brand-red': isInFavorites(mainData.objectID) == true }"
                    class="icon"
                  >
                    <svg fill="#7a7a7a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                      <path
                        d="M296 136c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0 240c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40zm0-120c0-22.002-17.998-40-40-40s-40 17.998-40 40 17.998 40 40 40 40-17.998 40-40z"
                      />
                    </svg>
                  </span>
                </a>
                <b-dropdown-item
                  v-if="isInFavorites(mainData.objectID) == true"
                  @click="removeFavorite(mainData.objectID)"
                >
                  Remove Favorite
                </b-dropdown-item>
                <b-dropdown-item v-else @click="setFavorite(mainData.objectID)">
                  Favorite
                </b-dropdown-item>
                <b-dropdown-item v-if="this.$route.name !== 'item'" has-link>
                  <router-link :to="'/item/' + mainData.objectID">
                    Open link
                  </router-link>
                </b-dropdown-item>
                <b-dropdown-item has-link>
                  <router-link :to="'/report/' + mainData.objectID" :index="getIndex">
                    Report As Dead/Other
                  </router-link>
                </b-dropdown-item>
                <b-dropdown-item has-link v-if="this.$route.name.includes('cms')">
                  <router-link
                    :to="
                      this.$route.name.includes('cms-song')
                        ? '/cms/song/edit/' + mainData.objectID
                        : '/cms/snippet/edit/' + mainData.objectID
                    "
                  >
                    <b>Edit: {{ mainData.title }}</b>
                  </router-link>
                </b-dropdown-item>
                <b-dropdown-item
                  has-link
                  v-if="this.$route.name.includes('cms')"
                  @click="isComponentModalActive = true"
                >
                  <b style="is-danger">Remove: {{ mainData.title }}</b>
                </b-dropdown-item>
              </b-dropdown>
            </div>
          </div>
        </nav>
        <footer class="card-footer">
          <a
            :href="mainData.music"
            rel="noopener noreferrer"
            target="_blank"
            :class="{ 'is-disabled': isDbr() }"
            class="play card-footer-item"
          >
            <strong>play audio</strong>
          </a>
        </footer>
      </div>
      <b-modal :active.sync="isComponentModalActive" has-modal-card>
        <re-modal-form
          :index="getIndex"
          :title="mainData.title"
          :id="mainData.objectID"
        ></re-modal-form>
      </b-modal>
    </div>
  </transition>
</template>

<script>
import ReModalForm from "@/components/ReModalForm";
import dayjs from "dayjs";
import VLazyImage from "v-lazy-image";
import StarRating from "vue-star-rating";

export default {
  name: "re-card",
  props: {
    mainData: {
      type: Object,
      required: true
    },
    type: {
      type: String,
      required: false
    }
  },
  components: {
    StarRating,
    VLazyImage,
    ReModalForm
  },
  data() {
    return {
      image: "",
      isComponentModalActive: false,
      favorites: {
        songFavorites: [],
        snippetFavorites: []
      }
    };
  },
  persist: ["favorites"],
  mounted() {
    // if (process.env.NODE_ENV === 'development') return console.log('full data:', this.mainData.title)
    this.getFavorite();
  },
  methods: {
    getFavorite() {
      //console.log(console.log('favorites', this.localStorage[this.type]))
      return this.favorites[this.type];
    },
    setFavorite(id) {
      this.favorites[this.type].push(id);
      //console.log('set favorite', id)
    },
    removeFavorite(id) {
      this.favorites[this.type] = this.remove(this.favorites[this.type], id);
      //console.log('removed', id)
    },
    isInFavorites(id) {
      if (this.favorites[this.type].indexOf(id) > -1) {
        return true;
      } else {
        return false;
      }
    },
    remove(array, element) {
      return array.filter(e => e !== element);
    },
    isDbr() {
      return this.mainData.music.includes("dbr.ee");
    }
  },
  computed: {
    getIndex() {
      if (this.$route.name.includes("cms-snippet")) {
        return "Snippets";
      } else {
        return "Songs";
      }
    },
    getImage() {
      var url = this.mainData.art;
      return `https://res.cloudinary.com/rexolt/image/fetch/c_fit,f_auto,h_245,q_auto,w_327/${url}`;
    },
    getDate() {
      var date = dayjs(this.mainData.uploaded, "M-D-YY, h:mm A");
      var date2 = dayjs(date).format("M-D-YY, h:mm A");
      return date2;
    },
    getClassData() {
      if (this.mainData.released) {
        return "released";
      } else if (this.mainData.hot) {
        return "hot";
      } else if (this.mainData.untitled) {
        return "brand-red";
      } else {
        return null;
      }
    }
  }
};
</script>
<style scoped>
.artist {
  font-size: 0.9rem;
}
.brand-red {
  color: #e91e63;
}
.level:not(:last-child) {
  margin-bottom: 0rem;
}
.card-content {
  padding: 0.5rem;
}
.button.is-white:hover {
  background-color: #eb3573;
  border-color: transparent;
  color: white;
}
.card-footer {
  border-top: 0px solid #dbdbdb;
}
.card-footer-item {
  padding: 0rem;
}
.card-footer-item:not(:last-child) {
  border-right: 0px solid #dbdbdb;
}
.date {
  padding: 1rem;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.play {
  color: black;
  background-color: #36e91e;
}
.play.is-disabled {
  color: grey;
  background-color: #f5f5f5;
}
.play:hover {
  color: white;
}
.released {
  color: #36e91e !important;
}
.hot {
  color: #ff6600 !important;
}
.title:not(.is-spaced) + .subtitle {
  margin-top: 0rem;
}
.title:not(:last-child),
.subtitle:not(:last-child) {
  margin-bottom: 0rem;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.vue-star-rating {
  padding-top: 2px;
  margin-left: -2px;
}
.card {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.play {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
svg {
  fill: currentColor;
}
.card-header-icon {
  color: #b5b5b5;
}
</style>
