<template>
    <div>
        <div class="modal-card" style="width: auto">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ title }}</p>
            </header>
            <section class="modal-card-body">
                <p>Enter password to delete
                    <b>{{ title }}</b>
                </p>
                <input class="input" type="password" v-model="password" password-reveal placeholder="Your password" required />
            </section>
            <footer class="modal-card-foot">
                <button class="button" type="button" @click="$parent.close()">Close</button>
                <button @click="deleteSong(); $parent.close()" class="button is-danger">Delete</button>
            </footer>
        </div>
    </div>
</template>

<script>
import algoliasearch from 'algoliasearch'
export default {
    name: 're-modal-form',
    props: ['index', 'title', 'id'],
    data() {
        return {
            password: ''
        }
    },
    methods: {
        deleteSong() {
            var client = algoliasearch(process.env.VUE_APP_ALGOLIA_APP_ID, process.env.VUE_APP_ALGOLIA_ADMIN);
            var index = client.initIndex(this.index);
            console.log(this.index)
        var self = this
      if (!this.password || this.password !== process.env.VUE_APP_PASSWORD) {
        return this.$toast.open({
            duration: 2500,
            message: `Please enter a correct password`,
            position: 'is-bottom',
            type: 'is-danger'
          })
      }
      index.deleteObject(this.id, function (err, content) {
        if (!err) {
            this.$emit('refresh')
        self.$toast.open({
            duration: 2500,
            message: `Success`,
            position: 'is-bottom',
            type: 'is-success'
          })
        } else {
            console.log(err)
            self.$toast.open({
            duration: 2500,
            message: `Error`,
            position: 'is-bottom',
            type: 'is-danger'
          })
        }
      })
        }
    }
}
</script>