<template>
    <div class="columns is-mobile">
        <div class="column is-half-desktop is-offset-one-quarter-desktop">
              <!-- Top Center -->
            <nav class="level is-mobile">
  <div class="level-item">
      <ais-powered-by></ais-powered-by>
    </div>
</nav>
            <nav class="level is-mobile">
  <!-- Left side -->
  <div class="level-left">
    <div class="level-item">
      <label class="label">{{ titleText }}</label>
    </div>
  </div>

  <!-- Right side -->
  <div class="level-right">
    <div class="level-item">
        <slot></slot>
    </div>
  </div>
</nav>
            <ais-search-box class="level-item has-text-centered">
               <ais-input :placeholder="boxText" class="input" />
            </ais-search-box>
        </div>
    </div>
</template>

<script>
import {
  SearchBox,
  Input,
  PoweredBy
} from 'vue-instantsearch';
export default {
    name: 're-search-bar',
    props: {
        titleText: {
            type: String
        },
        boxText: {
            type: String,
            default: 'Search by Artist, Title, Date, etc'
        }
    },
    components : {
        'ais-search-box': SearchBox,
        'ais-input': Input,
        'ais-powered-by': PoweredBy
    }
}
</script>
<style scoped>
.input {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #7a7a7a;
}
.level:not(:last-child) {
    margin-bottom: 0.3rem;
}
</style>