<template>
    <transition name="fade">
        <section class="section has-background-light">
            <div class="container">
                <div class="columns is-multiline is-mobile">
                    <template v-for="thread in data">
                        <div v-if="thread.title.includes('FRESH')" class="column is-one-third" :key="thread.title">
                            <div class="card">
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-size-4-5">{{ thread.title.replace('[FRESH]', '').replace('FRESH ', '') }}</p>
                                        </div>
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    <a :href="'https://reddit.com' + thread.permalink" target="_blank" rel="noopener" class="brand-red-bg card-footer-item">
                                        <strong>view thread</strong>
                                    </a>
                                </footer>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </section>
    </transition>
</template>

<script>
export default {
    name: 'FreshTab',
    data() {
    return {
        data: {},
    loading: false
    };
  },
  created() {
            fetch('https://www.reddit.com/r/hiphopheads/hot/.json?limit=30')
            .then(response => response.json())
            .then(data => {
                var done = data.data.children.map(({ data: { score, title, permalink } }) => ({ score, title, permalink }))
                    .sort(function (a, b) {
                        return b.score - a.score
                    });
                console.log(done)
                this.data = done
            });
  }
}
</script>
<style scoped>
.pagination-list {
  display: none;
  justify-content: center;
  align-items: center;
}
.input {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #7a7a7a;
}
fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>