<template>
  <ais-index
    :query-parameters="{ page: page }"
    :index-name="getIndex"
    :app-id="getAppId"
    :api-key="getApiKey"
  >
    <section class="section">
      <div class="container">
        <re-search-bar titleText="Search Songs">
          <router-link to="/favorites" class="button is-light">View Favorites</router-link>
        </re-search-bar>
        <!-- Hack: Must change results per page to high number in order for scrollbar to show, which makes infinite scroll work.
                    Works for monitors, but may break if opened on a tv lol -->
        <ais-results :results-per-page="24" class="columns is-multiline" :stack="true">
          <template slot-scope="{ result, index }">
            <div class="column is-one-quarter" :key="result.objectID">
              <re-card :type="'songFavorites'" :main-data="result" :index="index"></re-card>
            </div>
          </template>
        </ais-results>
        <ais-no-results></ais-no-results>
      </div>
      <nav v-if="!isMobile" class="level">
        <p class="level-item has-text-centered logo is-size-1">
          <button @click="page++" class="button is-light is-medium level-item has-text-centered">
            Load More
          </button>
        </p>
      </nav>
    </section>
  </ais-index>
</template>

<script>
import ReSearchBar from "@/components/ReSearchBar";
import { Index, Results, NoResults } from "vue-instantsearch";
import ReCard from "@/components/ReCard";
export default {
  name: "SongsTab",
  data() {
    return {
      page: 1,
      loading: false,
      isMobile: false
    };
  },
  components: {
    ReCard,
    ReSearchBar,
    "ais-index": Index,
    "ais-results": Results,
    "ais-no-results": NoResults
  },
  methods: {
    loadMore() {
      var isMobile =
        /Mobi|Android/i.test(navigator.userAgent) &&
        (typeof window.orientation !== "undefined") !== -1;
      this.isMobile = false;
      if (!isMobile) {
        this.isMobile = true;
        window.onscroll = () => {
          let bottomOfWindow =
            document.documentElement.scrollTop + window.innerHeight ===
            document.documentElement.offsetHeight;

          if (bottomOfWindow) {
            this.loading = true;
            this.page++;
            console.log("page:", this.page);
            this.loading = false;
          }
        };
      }
    }
  },
  computed: {
    getIndex() {
      return process.env.VUE_APP_ALGOLIA_INDEX;
    },
    getAppId() {
      return process.env.VUE_APP_ALGOLIA_APP_ID;
    },
    getApiKey() {
      return process.env.VUE_APP_ALGOLIA_SEARCH;
    }
  },
  mounted() {
    this.loadMore();
    document.title = "Songs - Rexolt";
  }
};
</script>
<style scoped>
.pagination-list {
  display: none;
  justify-content: center;
  align-items: center;
}
.input {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #7a7a7a;
}
.level-item {
  margin-top: 0.5rem;
}
.section {
  padding: 0rem;
}
</style>
