<template>
    <transition name="fade">
        <section class="section">
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column is-half-desktop is-offset-one-quarter-desktop has-text-centered has-text-weight-bold">
                        <router-link to="/faq">What are trackers?</router-link>
                    </div>
                </div>
                <div class="columns is-multiline">
                    <template v-for="tracker in trackers">
                        <div class="column is-one-quarter" :key="tracker.artist">
                        <re-card-stripped :main-data="tracker"/>
                        </div>
                    </template>
                </div>
            </div>
        </section>
    </transition>
</template>

<script>
import ReCardStripped from '@/components/ReCardStripped'
export default {
    name: 'FreshTab',
    components: {
        ReCardStripped
    },
    data() {
    return {
        trackers: [
            {
                artist: 'Drake',
                link: 'https://docs.google.com/spreadsheets/d/1t46UJJVnZOytchtkai6gBmvDuOfzMTehSESKC4NvDsQ/edit#gid=0',
                art: 'https://res.cloudinary.com/rexolt/image/fetch/w_312,h_234,f_auto,q_auto:low/https://studybreaks.com/wp-content/uploads/2018/01/Drake-1.jpg'
            },
            {
                artist: 'Lil Skies',
                link: 'https://docs.google.com/spreadsheets/d/1avgif1XCyOF7Krd3JVSOdG5pYw-TejWoqEFAwaxXX4w/edit#gid=0',
                art: 'https://res.cloudinary.com/rexolt/image/fetch/w_312,h_234,f_auto,q_auto:low/https://i1.sndcdn.com/avatars-000391939107-efbvq9-t500x500.jpg'
            },
            {
                artist: 'Juice WRLD',
                link: 'https://docs.google.com/spreadsheets/d/1iEJ-wFt8RG-GJjq2igyGNd9i9GtRTUTEt8ylEeI8BMM/edit#gid=0',
                art: 'https://res.cloudinary.com/rexolt/image/fetch/w_312,h_234,f_auto,q_auto:low/https://djbooth.net/.image/t_share/MTU2NTc2NTk3MzMwMTA5NTMx/juice-wrld-starters-guide.jpg'
            },
            {
                artist: 'Kanye West',
                link: 'https://docs.google.com/spreadsheets/d/1VqV6gLWpKpNMxY5_YN7sq6Dsfg0qWDWhvnFJt8wNQnw/edit#gid=0',
                art: 'https://res.cloudinary.com/rexolt/image/fetch/w_312,h_234,f_auto,q_auto:low/https://images.sk-static.com/images/media/profile_images/artists/552177/huge_avatar'
            },
            {
                artist: 'XXXTentacion',
                link: 'https://docs.google.com/spreadsheets/d/1wLXJVh41zsUMaa9X9pg7mxkfA4juyOflbYrSUQbT4Rc/edit#gid=0',
                art: 'https://res.cloudinary.com/rexolt/image/fetch/w_312,h_234,f_auto,q_auto:low/https://www.billboard.com/files/media/xxxtentacion-bw-press-photo-2018-billboard-1548.jpg'
            },
            {
                artist: 'Travis Scott',
                link: 'https://docs.google.com/spreadsheets/d/1n15Im4plMmRLhLSOduP7_Q92BAuihVUtS4lDQLPpHbk/edit?usp=sharing',
                art: 'https://res.cloudinary.com/rexolt/image/fetch/w_312,h_234,f_auto,q_auto:low/https://static.highsnobiety.com/wp-content/uploads/2017/03/20104735/travis-scott-spelling-01-480x320.jpg'
            },
            {
                artist: 'Migos',
                link: 'https://docs.google.com/spreadsheets/d/12QhL2CqoQwhITsPhk6RBoWNH1mH__KKRZqUPuQF09aE/htmlview',
                art: 'https://res.cloudinary.com/rexolt/image/fetch/w_312,h_234,f_auto,q_auto:low/https://pbs.twimg.com/profile_images/956759075168993287/d6LPkZKZ_400x400.jpg'
            },
            {
                artist: 'Lil Uzi Vert',
                link: 'https://docs.google.com/spreadsheets/d/1YOqNJ7Kj9I8ZwP_Hzmi2rb1LPcU62TAqOMIUmEY7fYA/htmlview',
                art: 'https://res.cloudinary.com/rexolt/image/fetch/w_312,h_234,f_auto,q_auto:low/https://sslb.ulximg.com/image/405x405/artist/1464961822_6e757496657e78e0a893e0c8a3753afd.jpg/8b9b3e01b6e633fbd3974385e88c2f50/1464961822_bfdbd37bf6376d367e672d59e2b22b11.jpg'
            }
        ],
        loading: false
    };
  }
}
</script>
<style scoped>
.pagination-list {
  display: none;
  justify-content: center;
  align-items: center;
}
.input {
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #7a7a7a;
}
fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
a {
    color: #e91e63;
    text-decoration: underline;
}
</style>