<template>
  <div id="app">
    <nav-bar></nav-bar>
    <router-view/>
    <!-- <play-bar v-bind:url.sync="url"></play-bar> -->
  </div>
</template>

<script>
import NavBar from '@/components/NavBar'
export default {
  data() {
    return {
      url: ''
    }
  },
components: {
  NavBar
  }
}
</script>
<style>
body {
  hyphens: auto;
}
.brand-red {
  color: #eb3573;
}
.brand-red-bg {
  color: black;
  background-color: #eb3573;
}
.brand-red-bg:hover {
  color: white;
}
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}
.thicker {
  font-weight: 700;
}
.is-size-4-5 {
  font-size: 1.35rem;
}
svg {
  fill: currentColor;
}
.section {
  padding: 2rem 1.5rem;
}
.columns {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
}
.columns:last-child {
    margin-bottom: -0.75rem;
}
#app {
  -webkit-font-smoothing: antialiased;
}
</style>
