<template>
  <div class="section">
    <div class="columns">
      <div class="column is-two-fifths">
        <div name="CMS" ref='uploadForm' id='uploadForm'>
          <div class="field">
            <label class="label">Title</label>
            <div class="control has-icons-left">
              <input v-model="song.title" id="title" name="title" class="input is-success" type="text" placeholder="Title" :disabled="song.untitled">
              <span class="icon is-small is-left">
                <i class="fas fa-font"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Second Title</label>
            <div class="control has-icons-left">
              <input v-model="song.secondTitle" id="secondTitle" name="secondTitle" class="input is-success" type="text" placeholder="Second Title" :disabled="song.untitled">
              <span class="icon is-small is-left">
                <i class="fas fa-font"></i>
              </span>
            </div>
          </div>
		  
			<div class="field">
			<label class="label">Old Leak?</label>
            <div class="control has-icons-left">
              <input v-model="song.old" id="old" name="old" type="checkbox">
              <span class="icon is-small is-left">
                <i class="fas fa-font"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Untitled?</label>
            <div class="control has-icons-left">
              <input v-model="song.untitled" id="untitled" name="untitled" type="checkbox">
              <span class="icon is-small is-left">
                <i class="fas fa-font"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Hot af?</label>
            <div class="control has-icons-left">
              <input v-model="song.hot" id="hot" name="hot" type="checkbox">
              <span class="icon is-small is-left">
                <i class="fas fa-font"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Artist</label>
            <div class="control has-icons-left">
              <input v-model="song.artist" id="artist" name="artist" class="input is-success" type="text" placeholder="Comma with space">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Art Link</label>
            <div class="control has-icons-left">
              <input v-model="song.art" name="art" class="input is-danger" type="text" placeholder="https://imgur.com">
              <span class="icon is-small is-left">
                <i class="fas fa-image"></i>
              </span>

            </div>
          </div>

          <div class="field">
            <label class="label">Music Link</label>
            <div class="control has-icons-left">
              <input v-model="song.music" name="music" class="input is-danger" type="text" placeholder="https://soundcloud.com">
              <span class="icon is-small is-left">
                <i class="fab fa-itunes-note"></i>
              </span>
            </div>
          </div>
          <br>
          <div class="field">
            <label class="label">HHH Thread</label>
            <div class="control has-icons-left">
              <input v-model="song.thread" name="thread" class="input" placeholder="https://reddit.com/r/hiphopheads">
              <span class="icon is-small is-left">
                <i class="fas fa-file-alt"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Quality</label>
            <div class="control">
              <div class="select">
                <select v-model="song.quality" name="quality">
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                  <option value="">Unavailable</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label">Producer</label>
            <div class="control">
              <input v-model="song.producer" name="producer" type="text" list="producer" />
              <datalist id="producer">
                <option value="LondonOnDaTrack">London</option>
                <option value="Metro Boomin">Metro</option>
                <option value="Southside">Southside</option>
                <option value="TM88">TM88</option>
                <option value="Ronny J">Ronny j</option>
                <option value="Murda Beats">Murda</option>
              </datalist>
            </div>
          </div>
          <div class="field">
            <label class="label">Tag</label>
            <div class="control">
              <input v-model="song.tag" name="tag" type="text" list="tag" />
              <datalist id="tag">
                <option value="Music Mafia">Music Mafia</option>
                <option value="DJ">DJ</option>
              </datalist>
            </div>
          </div>

          <div class="field">
            <label class="label">Released</label>
            <div class="control has-icons-left">
              <input v-model="song.released" name="released" class="input" placeholder="Leave blank for not released">
              <span class="icon is-small is-left">
                <i class="fas fa-file-alt"></i>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
              <input v-model="password" autocomplete="current-password" name="password" class="input" type="password" placeholder="Usual without 1">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button @click="editSong" class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-text">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import algoliasearch from 'algoliasearch'
var client = algoliasearch(process.env.VUE_APP_ALGOLIA_APP_ID, process.env.VUE_APP_ALGOLIA_ADMIN);
var index = client.initIndex(process.env.VUE_APP_ALGOLIA_INDEX);
export default {
  name: "CMS-Edit",
  data() {
    return {
      song: {
        objectID: this.$route.params.id
      },
      password: ''
    };
  },
  created() {
    this.getSong()
  },
  methods: {
    getSong() {
      var self = this
            index.getObject(this.$route.params.id, function(err, content) {
            self.song = content
            if (process.env.NODE_ENV === 'development') return console.log('fetched:', content)
          });
    },
    editSong() {
      var self = this
      if (!this.password || this.password !== process.env.VUE_APP_PASSWORD) {
        return this.$toast.open({
            duration: 2500,
            message: `Please enter a correct password`,
            position: 'is-bottom',
            type: 'is-danger'
          })
      }
      index.partialUpdateObject(this.song, function(err, content) {
        if (!err) {
        self.$toast.open({
            duration: 2500,
            message: `Success`,
            position: 'is-bottom',
            type: 'is-success'
          })
        }
        console.log(content);
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.dates {
  color: grey;
  font-size: 80%;
  letter-spacing: -0.5px;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
}
a.card-footer-item:hover {
  color: #fff;
  background-color: #e91e63;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
a.card-footer-item {
  color: #e91e63;
}
.card-footer-item:not(:last-child) {
  border-right: 0px;
}
a strong {
  color: black;
  background-color: #e91e63;
}
a strong:hover {
  color: white;
}
i {
  color: #e91e63;
}
.play {
  background-color: #36e91e;
}
.play:hover {
  color: white;
}
a {
  color: black;
}
.card-image {
  width: 270px;
  height: 200px;
}
.header:hover {
  color: white;
  background-color: #e91e63;
}
.header:active {
  color: white;
  background-color: #e91e63;
}
.ais-input {
  border-radius: 0.5rem;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.11),
    0 5px 10px 0 rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.input:active,
.input:focus {
  border-color: inherit;
}
.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input,
.algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #b2d7ff;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
</style>
