<template @refresh="refresh">
  <transition name="fade" appear>
    <section class="section has-background-light">
      <div class="container">
        <div class="columns is-multiline">
          <div>
            <router-link to="/cms/song/add" class="button">Add Song</router-link>
            <button @click="refresh" class="button">Refresh Content</button>
            <input v-model="password" class="input" placeholder="usual without 1">
            <div class="columns is-multiline ">
              <div v-for="result in results " :key="result.objectID " class="column is-one-quarter ">
                <re-card :type="'songFavorites'" :main-data="result"></re-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </transition>
</template>
<script>
import ReCard from '@/components/ReCard'
import algoliasearch from 'algoliasearch'
var client = algoliasearch(process.env.VUE_APP_ALGOLIA_APP_ID, process.env.VUE_APP_ALGOLIA_ADMIN)
var index = client.initIndex(process.env.VUE_APP_ALGOLIA_INDEX);
var browser = index.browseAll();
export default {
  data() {
    return {
      results: [],
      success: null,
      password: ''
    };
  },
  components: {
    ReCard
  },
  created() {
    this.getSongs()
  },
  methods: {
    getSongs: function() {
    var hits = []
    var self = this
    browser.on('result', function onResult(content) {
      console.log('Finished!');
      console.log('We got %d hits', content.hits.length);
      hits = hits.concat(content.hits)
      var test = self.results.splice(0, self.results.length, ...hits);
    })
    },
    refresh: function() {
      this.getSongs()
    },
    onPageChange(page) {
      window.scrollTo(0, 0);
    }
  }
};
</script>
<style scoped>
.highlight:not(:last-child) {
  margin-bottom: 0rem;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.pagination-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background-color: #e91e63;
}
.ais-pagination__item,
.ais-pagination__item--first,
.ais-pagination__item--previous,
.ais-pagination__item--next,
.ais-pagination__item--last,
.ais-pagination__link {
  margin: auto;
}
a.pagination-link {
  padding: 10px;
}
.ais-pagination__link {
  padding: 10px;
}
.pagination-link {
  padding: 10px;
}
.item-name {
  font-size: 93%;
  color: grey;
  letter-spacing: -0.2px;
}
</style>