<template>
  <div class="section">
    <div v-if="!loading" class="columns is-multiline">
      <button @click="addSongs" class="button">Add All Songs</button>
      <input
        v-model="password"
        autocomplete="current-password"
        name="password"
        class="input"
        type="password"
        placeholder="Usual without 1"
      />
      <div v-for="(song, index) in songs" class="column is-one-third" :key="index">
        <div class="column-bg">
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <button ref="remove" @click="songs.splice(index, 1)" class="button is-danger">
                Remove
              </button>
            </div>
          </div>
          <div class="field">
            <label v-if="isDuplicate(song.music)" class="label duplicate">Title - Duplicate</label>
            <label v-else class="label">Title</label>
            <div class="control ">
              <input
                v-model="song.title"
                name="title"
                class="input is-success"
                type="text"
                placeholder="Title"
                :disabled="song.untitled"
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Second Title</label>
            <div class="control ">
              <input
                v-model="song.secondTitle"
                name="secondTitle"
                class="input is-success"
                type="text"
                placeholder="Second Title"
                :disabled="song.untitled"
              />
            </div>
          </div>
          <div class="field is-grouped">
            <label class="label">Hot af?</label>
            <div class="control ">
              <input v-model="song.hot" name="hot" type="checkbox" />
            </div>
            <br />
            <label class="label">Old?</label>
            <div class="control ">
              <input v-model="song.old" name="old" type="checkbox" />
            </div>
            <br />
            <label class="label">Released</label>
            <div class="control ">
              <input
                v-model="song.released"
                name="released"
                placeholder="Leave blank for not released"
                type="checkbox"
              />
            </div>
          </div>
          <div v-if="song.old" class="field">
            <label class="label">Date if old leak</label>
            <div class="control ">
              <input v-model="song.date" name="date" type="textbox" />
            </div>
          </div>
          <div class="field">
            <label class="label">Artist</label>
            <div class="control ">
              <input
                v-model="song.artist"
                name="artist"
                class="input is-success"
                type="text"
                placeholder="Comma with space"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Art Link</label>
            <div class="control ">
              <input
                v-model="song.art"
                name="art"
                class="input is-danger"
                type="text"
                placeholder="https://imgur.com"
              />
            </div>
          </div>

          <div class="field">
            <label class="label">Music Link</label>
            <div class="control ">
              <input
                v-model="song.music"
                name="music"
                class="input is-danger"
                type="text"
                placeholder="https://soundcloud.com"
              />
            </div>
          </div>
          <br />
          <div class="field">
            <label class="label">HHH Thread</label>
            <div class="control ">
              <input
                v-model="song.thread"
                name="thread"
                class="input"
                placeholder="https://reddit.com/r/hiphopheads"
              />
            </div>
          </div>
          <div class="field is-grouped">
            <label class="label">Quality</label>
            <div class="control">
              <div class="select">
                <select v-model="song.quality" name="quality">
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                  <option value="">Unavailable</option>
                </select>
              </div>
            </div>
            <label class="label">Producer</label>
            <div class="control">
              <input v-model="song.producer" name="producer" type="text" list="producer" />
              <datalist id="producer">
                <option value="LondonOnDaTrack">London</option>
                <option value="Metro Boomin">Metro</option>
                <option value="Southside">Southside</option>
                <option value="TM88">TM88</option>
                <option value="Ronny J">Ronny j</option>
                <option value="Murda Beats">Murda</option>
              </datalist>
            </div>
          </div>
          <div class="field">
            <label class="label">Tag</label>
            <div class="control">
              <input v-model="song.tag" name="tag" type="text" list="tag" />
              <datalist id="tag">
                <option value="Music Mafia">Music Mafia</option>
                <option value="DJ">DJ</option>
              </datalist>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import dayjs from "dayjs";
import algoliasearch from "algoliasearch";

const client = algoliasearch(process.env.VUE_APP_ALGOLIA_APP_ID, process.env.VUE_APP_ALGOLIA_ADMIN);
const index = client.initIndex(process.env.VUE_APP_ALGOLIA_INDEX);
export default {
  name: "CMS-Add",
  data() {
    return {
      songs: {
        uploaded: dayjs().format("M-D-YY, h:mm A"),
        date: dayjs().valueOf(),
        duplicate: false
      },
      algoliaHits: [],
      password: "",
      success: false,
      loading: true
    };
  },
  created() {
    this.scrapeSongs();
  },
  methods: {
    addSongs() {
      const self = this;
      if (!this.password || this.password !== process.env.VUE_APP_PASSWORD) {
        return this.$toast.open({
          duration: 2500,
          message: "Please enter a correct password",
          position: "is-bottom",
          type: "is-danger"
        });
      }
      index.addObjects(this.songs, (err, content) => {
        if (!err) {
          self.$toast.open({
            duration: 2500,
            message: "Success",
            position: "is-bottom",
            type: "is-success"
          });
        } else {
          console.log(err);
        }
        console.log(content);
        self.success = true;
      });
    },
    scrapeSongs() {
      var self = this;
      var request = new XMLHttpRequest();
      request.open("GET", this.$scrape_url, true);

      request.onload = function() {
        if (request.status >= 200 && request.status < 400) {
          // Success!
          var resp = request.responseText;
          this.songs = resp.items;
          var browser = index.browseAll({ query: "", attributesToRetrieve: ["music"] });
          var hits = [];

          browser.on("result", function onResult(content) {
            self.algoliaHits = hits.concat(content.hits).map(a => a.music);
            self.songs.forEach(function(song) {
              song["uploaded"] = dayjs().format("M-D-YY, h:mm A");
              song["date"] = dayjs().valueOf();
            });
            self.loading = false;
            console.log(self.algoliaHits);
          });
        }
      };

      request.send();
    },
    isDuplicate(music) {
      var self = this;
      if (typeof music == "string" && self.songs) {
        if (self.algoliaHits.indexOf(music) > -1) {
          self.songs.duplicate = false;
          return true;
          //self.songs.splice(self.songs.indexOf(music), 1);
        }
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.dates {
  color: grey;
  font-size: 80%;
  letter-spacing: -0.5px;
}

.card {
  border-radius: 0.5rem;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11), 0 5px 15px 0 rgba(0, 0, 0, 0.08);
}
a.card-footer-item:hover {
  color: #fff;
  background-color: #e91e63;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
a.card-footer-item {
  color: #e91e63;
}
.card-footer-item:not(:last-child) {
  border-right: 0px;
}
a strong {
  color: black;
  background-color: #e91e63;
}
a strong:hover {
  color: white;
}
i {
  color: #e91e63;
}
.play {
  background-color: #36e91e;
}
.play:hover {
  color: white;
}
a {
  color: black;
}
.card-image {
  width: 270px;
  height: 200px;
}
.header:hover {
  color: white;
  background-color: #e91e63;
}
.header:active {
  color: white;
  background-color: #e91e63;
}
.ais-input {
  border-radius: 0.5rem;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.11), 0 5px 10px 0 rgba(0, 0, 0, 0.08);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.input:active,
.input:focus {
  border-color: inherit;
}
.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input,
.algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #b2d7ff;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
.column-bg {
  background-color: #f5f5f5;
}
.duplicate {
  color: #e91e63;
}
</style>
